*.class

# OS X Files
*.DS_Store

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Include required jars
!lib/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# project metadata
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
nbproject/private/
README.txt
